<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Base Module RxCoordinator</string>
	<key>Description</key>
	<string>Basic Base Module RxCoordinator. Creates Route, Storyboard.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Route name (sample: Exemple -&gt; ExempleRoute )</string>
			<key>Identifier</key>
			<string>ROUTE</string>
			<key>Name</key>
			<string>Route name :</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The name of the first VIPER module to create ( first Upper case )</string>
			<key>Identifier</key>
			<string>MODULE1</string>
			<key>Name</key>
			<string>Name Coordinator (sample: Exemple -&gt; ExempleCoordinator )</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Template Author</key>
	<string>Stephan Yannick - @YannickSteph</string>
</dict>
</plist>
